defmodule <%= module %>.MixProject do
  use Mix.Project

  def project do
    [
      app: :<%= app %>,
      version: "0.1.0",
      elixir: "~> 1.19",
      start_permanent: Mix.env() == :prod,
      compilers: Mix.compilers() ++ [:projection_codegen, :projection_ui_host],
      deps: deps()
    ]
  end

  def application do
    [
      extra_applications: [:logger],
      mod: {<%= module %>.Application, []}
    ]
  end

  defp deps do
    [
      {:projection, "~> 0.1.0"}
    ]
  end
end
